{% for post in posts %}
    <div class="col-10 col-sm-6 col-md-4 col-lg-3">
        <a href="?id={{ post[0] }}" class="link-underline-dark">
            <div class="card text-center mb-3" style="width: 18rem;">
                <img src="{{ post[1] }}" class="card-img-top img-thumbnail image-card-custom" alt="مشکل در باز کردن عکس!">
                <span class="emoji">{{ post[4] }}👁</span>
                <div class="card-body">
                    <h4 class="card-title overflow-hidden text-truncate">{{ post[2] }}</h4>
                    <p class="card-text text-muted text-truncate">
                        {% if post[3] == "" %}
                            منتشرکننده نامعلوم
                        {% else %}
                            انتشار از {{ post[3] }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}